# Requirements
- install python3.9
- install mysql server on Mac via homebrew `brew install mysql`
- start the mysql server `brew services start mysql`
- install the mysql python client `pip3 install pymysql`
- run this notebook (e.g.: VSCode's jupyter extension)

# Links
- installing python3.9: https://www.python.org/downloads/
- installing homebrew: https://brew.sh/
- installing VSCode and the jupyter extension: https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter

# Imports

In [1]:
import pymysql
import pandas as pd

# Open Connection

In [2]:

connection = pymysql.connect(
	host='127.0.0.1',
	user='root',
	password= '',
	cursorclass=pymysql.cursors.DictCursor
)

cursor = connection.cursor()

#Create a database to run and store tables
cursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")
connection.select_db("mydatabase")
#execute a query to confirm first query worked
cursor.execute("SHOW DATABASES")
# print(cursor.fetchall()) #Verify that mydatabase appears in the list when print statement is run

5

# Extraction of Data from API's and CSV's

In [3]:
#EXTRACTION

collision_data = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv")
features = ["collision_id", "crash_time", "borough", "zip_code", "contributing_factor_vehicle_1", "contributing_factor_vehicle_2", "number_of_persons_injured", "number_of_persons_killed","crash_date"]
collision_data = collision_data.loc[:,features]
collision_data

,collision_id,crash_time,borough,zip_code,contributing_factor_vehicle_1,contributing_factor_vehicle_2,number_of_persons_injured,number_of_persons_killed,crash_date
0,4407480,5:32,NaN,NaN,Following Too Closely,Unspecified,0,0,2021-04-14T00:00:00.000
1,4407147,21:35,BROOKLYN,11217.0,Unspecified,NaN,1,0,2021-04-13T00:00:00.000
2,4407665,16:15,NaN,NaN,Pavement Slippery,NaN,0,0,2021-04-15T00:00:00.000
3,4407811,16:00,BROOKLYN,11222.0,Following Too Closely,Unspecified,0,0,2021-04-13T00:00:00.000
4,4406885,8:25,NaN,NaN,Unspecified,Unspecified,0,0,2021-04-12T00:00:00.000
...,...,...,...,...,...,...,...,...,...
995,4407927,3:20,NaN,NaN,Passing or Lane Usage Improper,Unspecified,1,0,2021-04-17T00:00:00.000
996,4408072,14:11,MANHATTAN,10030.0,Unspecified,Unspecified,0,0,2021-04-17T00:00:00.000
997,4408456,11:40,BRONX,10472.0,Unspecified,NaN,0,0,2021-04-16T00:00:00.000
998,4408361,5:13,BROOKLYN,11211.0,Alcohol Involvement,Unspecified,0,0,2021-04-17T00:00:00.000
999,4407985,20:30,QUEENS,11413.0,Unsafe Speed,Unspecified,0,0,2021-04-17T00:00:00.000

In [4]:
uber_data = pd.read_csv("uber_nyc_enriched.csv")  
features = ["pickups", "spd", "vsb", "temp", "pcp01", "pcp06", "pcp24", "sd", "borough", "hday", "pickup_dt"]
uber_data = uber_data.loc[:,features]

uber_data.insert(0, "uber_id", [i for i in range(len(uber_data))])
uber_data

,uber_id,pickups,spd,vsb,temp,pcp01,pcp06,pcp24,sd,borough,hday,pickup_dt
0,0,152,5.0,10.0,30.0,0.0,0.0,0.0,0.0,Bronx,Y,1/1/15 1:00
1,1,1519,5.0,10.0,30.0,0.0,0.0,0.0,0.0,Brooklyn,Y,1/1/15 1:00
2,2,0,5.0,10.0,30.0,0.0,0.0,0.0,0.0,EWR,Y,1/1/15 1:00
3,3,5258,5.0,10.0,30.0,0.0,0.0,0.0,0.0,Manhattan,Y,1/1/15 1:00
4,4,405,5.0,10.0,30.0,0.0,0.0,0.0,0.0,Queens,Y,1/1/15 1:00
...,...,...,...,...,...,...,...,...,...,...,...,...
29096,29096,0,7.0,10.0,75.0,0.0,0.0,0.0,0.0,EWR,N,6/30/15 23:00
29097,29097,3828,7.0,10.0,75.0,0.0,0.0,0.0,0.0,Manhattan,N,6/30/15 23:00
29098,29098,580,7.0,10.0,75.0,0.0,0.0,0.0,0.0,Queens,N,6/30/15 23:00
29099,29099,0,7.0,10.0,75.0,0.0,0.0,0.0,0.0,Staten Island,N,6/30/15 23:00
29100,29100,3,7.0,10.0,75.0,0.0,0.0,0.0,0.0,NaN,N,6/30/15 23:00

In [5]:
noise_incident_data = pd.read_csv("party_in_nyc.csv")  
features = ["Created Date", "Incident Zip", "Borough", "Location Type"]
noise_incident_data = noise_incident_data.loc[:,features]

noise_incident_data.insert(0, "incident_id", [i for i in range(len(noise_incident_data))])
noise_incident_data

,incident_id,Created Date,Incident Zip,Borough,Location Type
0,0,2015-12-31 00:01:15,10034.0,MANHATTAN,Store/Commercial
1,1,2015-12-31 00:02:48,10040.0,MANHATTAN,Store/Commercial
2,2,2015-12-31 00:03:25,10026.0,MANHATTAN,Residential Building/House
3,3,2015-12-31 00:03:26,11231.0,BROOKLYN,Residential Building/House
4,4,2015-12-31 00:05:10,10033.0,MANHATTAN,Residential Building/House
...,...,...,...,...,...
225409,225409,2016-12-31 23:53:57,10003.0,MANHATTAN,Store/Commercial
225410,225410,2016-12-31 23:55:01,10032.0,MANHATTAN,Residential Building/House
225411,225411,2016-12-31 23:56:20,11104.0,QUEENS,Residential Building/House
225412,225412,2016-12-31 23:56:41,10040.0,MANHATTAN,Residential Building/House
225413,225413,2016-12-31 23:58:52,10463.0,BRONX,Residential Building/House

## Creating the fact dataframe

### ensure all tables are of same size so that fact table

In [6]:
fact_table_size = min(
    len(collision_data),
    len(uber_data),
    len(noise_incident_data)
)

### create table

In [7]:
facts = pd.DataFrame(data=uber_data['uber_id'])
facts.insert(1,'collision_id',collision_data['collision_id'])
facts.insert(2,'incident_id',noise_incident_data['incident_id'])
facts = facts.loc[:fact_table_size]
facts

      uber_id  collision_id  incident_id
0           0     4407480.0            0
1           1     4407147.0            1
2           2     4407665.0            2
3           3     4407811.0            3
4           4     4406885.0            4
...       ...           ...          ...
996       996     4408072.0          996
997       997     4408456.0          997
998       998     4408361.0          998
999       999     4407985.0          999
1000     1000           NaN         1000

[1001 rows x 3 columns]

# Transformation of Data

In [11]:
#remove NaN values
collision_data.dropna(inplace=True)

#change crash_time values into datetime format
# collision_data['crash_time'] = pd.to_datetime(collision_data['crash_time'], format = '%H:%M') #.dt.time

#change data types
collision_data.dtypes
collision_data['collision_id'] = collision_data['collision_id'].astype(int)
collision_data['crash_time'] = collision_data['crash_time'].astype(str)
collision_data['borough'] = collision_data['borough'].astype(str)
collision_data['zip_code'] = collision_data['zip_code'].astype(int)
collision_data['contributing_factor_vehicle_1'] = collision_data['contributing_factor_vehicle_1'].astype(str)
collision_data['contributing_factor_vehicle_2'] = collision_data['contributing_factor_vehicle_2'].astype(str)
collision_data['number_of_persons_injured'] = collision_data['number_of_persons_injured'].astype(int)
collision_data['number_of_persons_killed'] = collision_data['number_of_persons_killed'].astype(int)

collision_data

,collision_id,crash_time,borough,zip_code,contributing_factor_vehicle_1,contributing_factor_vehicle_2,number_of_persons_injured,number_of_persons_killed,crash_date
3,4407811,1900-01-01 16:00:00,BROOKLYN,11222,Following Too Closely,Unspecified,0,0,2021-04-13T00:00:00.000
6,4408019,1900-01-01 17:30:00,QUEENS,11106,Driver Inattention/Distraction,Unspecified,0,0,2021-04-13T00:00:00.000
13,4136992,1900-01-01 22:50:00,BROOKLYN,11201,Passing or Lane Usage Improper,Unspecified,0,0,2019-05-21T00:00:00.000
15,4395664,1900-01-01 14:50:00,BRONX,10461,Unspecified,Unspecified,0,0,2021-02-26T00:00:00.000
17,4403773,1900-01-01 22:20:00,BROOKLYN,11234,Driver Inexperience,Unspecified,1,0,2021-03-31T00:00:00.000
...,...,...,...,...,...,...,...,...,...
993,4407966,1900-01-01 16:04:00,QUEENS,11435,Driver Inattention/Distraction,Unspecified,0,0,2021-04-17T00:00:00.000
994,4408426,1900-01-01 20:23:00,BRONX,10459,Alcohol Involvement,Unspecified,0,0,2021-04-17T00:00:00.000
996,4408072,1900-01-01 14:11:00,MANHATTAN,10030,Unspecified,Unspecified,0,0,2021-04-17T00:00:00.000
998,4408361,1900-01-01 05:13:00,BROOKLYN,11211,Alcohol Involvement,Unspecified,0,0,2021-04-17T00:00:00.000
999,4407985,1900-01-01 20:30:00,QUEENS,11413,Unsafe Speed,Unspecified,0,0,2021-04-17T00:00:00.000

In [9]:
collision_data.columns

Index(['collision_id', 'crash_time', 'borough', 'zip_code',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'number_of_persons_injured', 'number_of_persons_killed', 'crash_date'],
      dtype='object')

In [10]:
#remove unnecessary value in borough
noise_incident_data.Borough.unique()
noise_incident_data = noise_incident_data[noise_incident_data.Borough != 'Unspecified']

#change data types
noise_incident_data.dtypes
noise_incident_data['incident_id'] = noise_incident_data['incident_id'].astype(int)
noise_incident_data['Incident Zip'] = noise_incident_data['Incident Zip'].astype(int)
noise_incident_data['Borough'] = noise_incident_data['Borough'].astype(str)
noise_incident_data['Location Type'] = noise_incident_data['Location Type'].astype(str)
noise_incident_data['num_calls'] = noise_incident_data['num_calls'].astype(int)

<ipython-input-10-978028ded168>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noise_incident_data['incident_id'] = noise_incident_data['incident_id'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
noise_incident_data

In [ ]:
#split datetime into separate columns
uber_data['dates'] = pd.to_datetime(uber_data['pickup_dt'], format = '%Y/%m/%d %H:%M').dt.date
uber_data['time'] = pd.to_datetime(uber_data['pickup_dt'], format = '%Y/%m/%d %H:%M').dt.time
del uber_data['pickup_dt']

#remove NaN values
uber_data.dropna(inplace=True)

#remove unnecessary boroughs
uber_data.borough.unique()
uber_data = uber_data[uber_data.borough != 'EWR']

#match borough text with other dataframes
uber_data['borough'] = uber_data['borough'].str.upper()

#change data types
uber_data.dtypes
uber_data['uber_id'] = uber_data['uber_id'].astype(int)
uber_data['pickups'] = uber_data['pickups'].astype(int)
uber_data['borough'] = uber_data['borough'].astype(str)
uber_data['hday'] = uber_data['hday'].astype(str)
uber_data['dates'] = uber_data['dates'].astype(str)
uber_data['time'] = uber_data['time'].astype(str)

In [ ]:
uber_data